<div class="nav__menu">
    <a href="/#home" class="nav__link">Home</a>
    <a href="/#about" class="nav__link">About</a>
    <a href="/#features" class="nav__link">Features</a>
    <a href="/#gallery" class="nav__link">Gallery</a>
    <a href="/#ratings" class="nav__link">Ratings</a>
</div>