<a href="#home" class="mobile-menu__link">Home</a>
<a href="#about" class="mobile-menu__link">About</a>
<a href="#features" class="mobile-menu__link">Features</a>
<a href="#gallery" class="mobile-menu__link">Gallery</a>
<a href="#ratings" class="mobile-menu__link">Ratings</a>