:root {
    --scrollbar-thumb: #aaa;
}

::-webkit-scrollbar {
    width: 3.5px;
}

::-webkit-scrollbar-track {
    background: #00000000;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, var(--scrollbar-thumb), var(--scrollbar-thumb), var(--scrollbar-thumb));
    transition: background-color 0.3s;
}